*,
html {
margin: 0;
padding: 0;
}

.container {}


.container-navbar {
    background-color:aqua;
    width: 100%;
    height: 11vh;
}

.ul-navbar {
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size:31px;
}

.li-navbar {

    list-style-type: none;
    padding: 30px;
    margin: 5px;
    color: white;



}

.li-navbar:hover {
    height: 10;
    background-color:white;
    transition: .1s ease-in-out;
    transition-delay: .1s;
    border-radius: 10px;
}

.a-navbar {
    color:black;
    text-decoration: none;
    font-weight: 800;
}

.container-content {
    background-color:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}

.c-content {
    background-color:white;
    width: 310px;
    height: 310px;
    font-size: 13px;
    display: flex;
    color:black;
    flex-direction: column;
    justify-content: space-evenly;
    text-decoration: none;
    align-items: center;
    border-radius: 80px;

}


.a-content {
    display: flex;
    justify-content: center; 
    align-items: center;
    text-decoration: none;
    align-items: center;
   

}

.b-content{
    background-color: white;
    font-size: 30;
    display: flex;
    color: black;
    justify-items: center;
    text-decoration: none;


}


.img-content {
    width:40%;
    height:90%vh;
    box-shadow: 5px 5px 5px 0px #c8edfa, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.container-footer {
height:10vh;
background-color:aqua;
display: flex;
justify-content: center;
align-items: center;
}


.h1-footer  {
font-size: 40px;
}

.h2-footer  {
    background-color: white;
}